*.o
*.a
*.orig
*.cmo
*.cmx
*.cmi
*.cma
*.cmxa
*.annot
*.so
META
*~
xenstored/xenstored
xenstore/xenstore
closeandexec/closeandexec
xenvm/xenops
xenvm/xenvm
xenvm/xenvm-cmd
xenguest/xenguest
extra/*
.ocamldep.make
*.exe
*.stackdump
